# 超大目录（必须忽略）
autogluon_model/
csv_data/

# 核心输出/模型目录（防止被 git clean 删除）
binary_class/outputs/models/*/models/
shap_analysis_outputs/*
!shap_analysis_outputs/**/
!shap_analysis_outputs/**/*.csv
!shap_analysis_outputs/**/*.txt


# 日志/缓存
test_logs/
shap_plots/
beeswarm_plots/
__pycache__/
.ipynb_checkpoints/

# 模型文件
*.pth
*.pt
*.bin
*.ckpt
*.h5
*.pkl
*.ubj
*.joblib

# 输出结果文件
*.pdf
*.png
*.svg
*.json

# Python缓存
*.pyc
*.pyo

!my_json/*
!binary_class/plot_out/*
!binary_class/single_image/*
